.cart {
    position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  height: 100%; /* Set a fixed height for the cart */
  background-color: white;
  box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: -1; /* Initially set to be behind other components */
  overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .cart.open {
    transform: translateX(0);
    z-index: 999; /* Bring the cart to front when open */
  }
  
  .cart-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .cart-content {
    padding: 20px;
  }

  .cart-content h2 {
      display: flex;
      justify-content: start;
  }
  
  .cart-total {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .checkout-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item {
    display: flex;
    padding: 10px 0; /* Add padding to create space between cart items */
    border-top: 1px solid rgb(1, 1, 1); /* Add border above each cart item */
    border-bottom: 1px solid rgb(3, 2, 2); /* Add border below each cart item */
  }

  .cart-item:first-child {
    border-top: none; /* Remove top border from the first cart item */
  }

  .cart-item:last-child {
    border-bottom: none; /* Remove bottom border from the last cart item */
  }
  
  .cart-image img {
    width: 100px;
  }
  
  .cart-info p {
    margin-left: 20px;
    font-size: small;
    font-weight: 200;
    display: grid;
    justify-content: flex-start;
  }
  
  .cart-info h1 {
    font-size: medium;
    font-weight: 700;
    display: grid;
    justify-content: flex-start;
    margin-left: 20px;
  }
  
  .quantity-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .quantity-controls button {
    border-radius: 50% !important;
    /* background-color: Transparent; */
    background-repeat: no-repeat;
    border: beige;
    cursor: pointer;
    /* overflow: hidden; */
    margin: 0px 5px 0px 5px;
  }
  
  .quantity-controls input {
    width: 30px;
  }
  
  .cart-delete {
    margin-left: 200px;
  }
  