.productDisplay {
    display: flex;
    margin: 0px 170px;
}

.productDisplay-left {
    display: flex;
    gap: 17px;
}

.productDisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.productDisplay-img-list .img {
    height: 163px;
}

.productDisplay-img-main {
    width: 586px;
    height: 100%;
}

.productDisplay-right {
    margin:  0px 70px;
    display: flex;
    flex-direction: column;
}

.productDisplay-right h1 {
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
}

.productDisplay-despcription {
    margin-top: 0px;
    padding: 0px;
}

.productDisplay-despcription {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0px;
}

.size-header {
  font-size: 20px !important;
  margin-top: 10px;
  margin-bottom: 5px !important;
}

.size-select {
    display: flex;
    gap: 10px;
    margin: 0px 0px 30px 0px; 
    width: 200px;
}

.color-header {
    font-size: 20px !important;
    margin-top: 10px;
    margin-bottom: 5px !important;
}

.color-select {
    display: flex;
    gap: 5px;
    margin: 0px 0px 30px 0px; 
    width: 200px;
}

.color {
    width: 55px;
    height: 70px;
}

.sizes {
    padding: 10px 14px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.sizes:hover {
    background: black;
    color: white;
}



.productDisplay-prices {
    display: flex;
    margin: 40px 0px;
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
}

.productDisplay-oldprics {
    text-decoration: line-through;
    color: rgba(160, 160, 160, 0.61);
}

.productDisplay-newprics {
    color: black;
}


.addToCartbutton {
    background-color:black !important;
    color: white !important;
    justify-content: center;
    width: 400px;
    height: 50px;
    border-radius: 20px !important; 
    font-size: 15px !important; 
    font-family: Helvetica, Arial, sans-serif !important; 
    font-weight: 900 !important;
  }

  @media (max-width: 1024px) {
    .productDisplay-left,
    .productDisplay-right {
      flex-basis: 100%;
    }
  
    .productDisplay-img-list .img {
      width: calc(33.33% - 16px);
    }
  }
  
  @media (max-width: 768px) {
    .productDisplay-img-list .img {
      width: calc(50% - 16px);
    }
  }
  
  @media (max-width: 480px) {
    .productDisplay-img-list .img {
      width: 100%;
    }
  
    .button {
      max-width: 300px;
    }
  }