.navBar {
    background: fixed;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

#navbtn {
    font-size: 17px;
    font-weight: bold;
}

.navbtn {
    padding: 10px;
}

.navbarScroll{ 
    justify-content: flex-end;
}