.navBar {
    background: fixed;
    height: 80px;
    background-color: #000000;
}

#navbtn {
    font-size: 17px;
    font-weight: bold;
}

.navbtn {
    padding: 10px;
}

.navbarScroll{ 
    justify-content: flex-end;
}

.cat-text  {
    border-bottom: none;
    border-right: 1px  rgb(255, 255, 255);
    box-sizing: border-box;
    width: 70px;
}

.cat-text:hover {
    color: #b0b3b6 !important;
}


#navbtn {
    color: #fff;
} 
.Textfield {
    background-color: #fff;
    width: 100%;
    border-radius: 40px;
    height: 15%;
}



.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35px;
    background-color: #e5e7eb;
  }
  
  .slider {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }