.navBar {
    background: fixed;
    height: 80px;
    background-color: #000000;
}

#navbtn {
    font-size: 17px;
    font-weight: bold;
}

.navbtn {
    padding: 10px;
}

.navbarScroll{ 
    justify-content: flex-end;
}

.cat-text  {
    border-bottom: none;
    border-right: 1px  rgb(255, 255, 255);
    box-sizing: border-box;
    width: 70px;
}

.cat-text:hover {
    color: #b0b3b6 !important;
}


#navbtn {
    color: #fff;
} 
.Textfield {
    background-color: #fff;
    width: 100%;
    border-radius: 40px;
    height: 15%;
}

