

.carousel {
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image horizontally and vertically */
    /* Add any other styles you need for the carousel container */
    height: 400px;
}